<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">

  {{!-- CSS Link for Bootstrap --}}
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>

  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>

  {{!-- CSS Link for Font Awesome --}}
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

  {{!-- CSS Link for Google Fonts --}}
  <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Ubuntu" rel="stylesheet">

  {{!-- CSS Link for Custom CSS--}}
  {{!-- <link rel="stylesheet" href="./styles/styles.css"> --}}
  <title>Home Page</title>
</head>

<body>
  <nav class="navbar" style="background-color: rgb(140,167,5)">
    <div class="container">
      <h1 class="navbar-brand" style="color: white; font-size: 36px"> <iframe src="https://giphy.com/embed/KY21u18fzs0ceRrHW5" width="50" height="50"
          frameBorder="0" class="giphy-embed" allowFullScreen></iframe> Meyers Gigs </h1>
      <ul class="navbar-nav">
        <div class="d-inline-flex">
          <li class="nav-item">
            <a class="nav-link" href="#loginModal" data-toggle="modal" style="color: white">Sign In</a>
          </li>
          <span class="navbar-text" style="color: #ffffff">&nbsp;|&nbsp;</span>
          <li class="nav-item">
            <a class="nav-link" href="#signUpModal" data-toggle="modal" style="color: white">Sign Up</a>
          </li>
        </div>
      </ul>
    </div>
  </nav>

  {{{body}}}

  <footer class="fixed-bottom mt-auto py-3" margin-top="50px">
    <div class="container">
      <p class="m-0 text-muted text-center">
        Copyright&nbsp;&copy;&nbsp;Meyers-Gigs
      </p>
    </div>
  </footer>

</body>


</html>