<div id="home">
  <div class="container">
    <div class="jumbotron py-2 mt-2">
      <div class="row">
        <h1>Welcome to Meyers Gigs!</h1>
      </div>
      <div class="row">
        <h3>Find your perfect job based on your Myers-Briggs Personality Test</h3>
      </div>
      <div class="row">
        <p>An individual's personality sometimes makes them more adaptable to certain jobs. 
        Personality tests give people an idea of their psychological makeup and can be a great tool when looking for a job. 
        Knowing what personality type you are can help you discover the ideal job and work environment for your type.
        Take our test to see what your personality type is, learn more about it, see which careers tend to be a good fit, and
        see jobs near you!</p>
      </div>
    </div>
    <div class="row no-gutters d-flex justify-content-around">
      <div class="card col-4">
        <div class="card-body">
          <p class="card-text text-center">I have already taken the test.<br>Show me the jobs!</p>
          <div class="text-center">
            <button type="button" class="btn btn-primary">JOBS!</button>
          </div>
        </div>
      </div>
      <div class="card col-4">
        <div class="card-body">
          <p class="card-text text-center">I need to take the test.<br>Let's Go!</p>
          <div class="text-center">
            <button type="button" class="btn btn-danger">TEST!</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>








{{!-- <div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <h1>{{msg}}</h1>
        <h2>This is our Home Page!</h2>
        <form class="clearfix mb-4" action="POST">
          <div class="form-group">
            <label for="example-text">Example Text</label>
            <input type="text" id="example-text" class="form-control" aria-describedby="example-text"
              placeholder="Enter Example Text">
          </div>
          <div class="form-group">
            <label for="example-description">Example Description</label>
            <textarea class="form-control" id="example-description" aria-describedby="example-description"
              placeholder="Enter Example Description"></textarea>
          </div>
          <button id="submit" class="btn btn-primary float-right">Submit</button>
        </form>
        <h3>Examples:</h3>
        <ul id="example-list" class="list-group">
          {{#each examples}}
          <li data-id="{{this.id}}" class="list-group-item">
            <a href="example/{{this.id}}">{{this.text}}</a>
            <button class="btn btn-danger float-right delete">ｘ</button>
          </li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</div> --}}

<script src="/js/index.js"></script>
