<div id="home">
  <div class="container">
    <div class="jumbotron py-2 mt-2">
      <div class="row">
        <h1>Welcome to Meyers Gigs!</h1>
      </div>
      <div class="row">
        <h3>Find your perfect job based on your Myers-Briggs Personality Test</h3>
      </div>
      <div class="row">
        <p>An individual's personality sometimes makes them more adaptable to certain jobs.
          Personality tests give people an idea of their psychological makeup and can be a great tool when looking for a
          job.
          Knowing what personality type you are can help you discover the ideal job and work environment for your type.
          Take our test to see what your personality type is, learn more about it, see which careers tend to be a good
          fit, and
          see jobs near you!</p>
      </div>
    </div>
    <div class="modal" id="loginModal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Login</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form action="auth" method="POST">
              <input type="text" name="username" placeholder="Username" style="margin:5px; padding: 5px">
              <br>
              <input type="password" name="password" placeholder="Password" style="margin:5px; padding:5px">
              <br>
              <br>
              <input type="submit">
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="modal" id="signUpModal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Sign Up</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form action="signup" method="POST">
              <input type="text" name="username" placeholder="Username" style="margin:5px; padding: 5px">
              <br>
              <input type="password" name="password" placeholder="Password" style="margin:5px; padding: 5px">
              <br>
              <input type="password" name="password_verify" placeholder="Re-Enter Password" style="margin:5px; padding: 5px">
              <br>
              <br>
              <input type="submit">
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="/js/index.js"></script>