<div class="container">
         <form action="" name="survey" id="survey" method="POST">
            <h1>The Personality Test</h1>
            <h4>Your Results Are Just 20 Clicks Away!</h4>
            <br>
            <br>

            <div class="form-group">
                <h3><strong>Question 1</strong></h3>
                <h4>I am seen as "outgoing" or as a "people person."</h4>
                <select class="form-option" id=quest_1 required>
                    <option value=""></option>
                    <option value="1">1 (Strongly Disagree)</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5 (Strongly Agree)</option>
                </select>
                <br>
                <br>

                <h3><strong>Question 2</strong></h3>
                <h4>I feel comfortable in groups and like working in them.</h4>
                <select class="form-option" id=quest_2 required>
                    <option value=""></option>
                    <option value="1">1 (Strongly Disagree)</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5 (Strongly Agree)</option>
                </select>
                <br>
                <br>

                <h3><strong>Question 3</strong></h3>
                <h4>I have a wide range of friends and know lots of people.</h4>
                <select class="form-option" id=quest_3 required>
                    <option value=""></option>
                    <option value="1">1 (Strongly Disagree)</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5 (Strongly Agree)</option>
                </select>
                <br>
                <br>

                <h3><strong>Question 4</strong></h3>
                <h4>I sometimes jump too quickly into an activity and don't allow enough time to think it over.</h4>
                <select class="form-option" id=quest_4 required>
                    <option value=""></option>
                    <option value="1">1 (Strongly Disagree)</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5 (Strongly Agree)</option>
                </select>
                <br>
                <br>

                <h3><strong>Question 5</strong></h3>
                <h4>Before I start a project, I sometimes forget to stop and get clear on what I want to do and why.</h4>
                <select class="form-option" id=quest_5 required>
                    <option value=""></option>
                    <option value="1">1 (Strongly Disagree)</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5 (Strongly Agree)</option>
                </select>
                <br>
                <br>

                <h3><strong>Question 6</strong></h3>
                <h4>I remember events as snapshots of what actually happened.</h4>
                <select class="form-option" id=quest_6 required>
                    <option value=""></option>
                    <option value="1">1 (Strongly Disagree)</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5 (Strongly Agree)</option>
                </select>
                <br>
                <br>

                <h3><strong>Question 7</strong></h3>
                <h4>I solve problems by working through facts until I understand the problem.</h4>
                <select class="form-option" id=quest_7 required>
                    <option value=""></option>
                    <option value="1">1 (Strongly Disagree)</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5 (Strongly Agree)</option>
                </select>
                <br>
                <br>

                <h3><strong>Question 8</strong></h3>
                <h4>I am pragmatic and look to the "bottom line."</h4>
                <select class="form-option" id=quest_8 required>
                    <option value=""></option>
                    <option value="1">1 (Strongly Disagree)</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5 (Strongly Agree)</option>
                </select>
                <br>
                <br>

                <h3><strong>Question 9</strong></h3>
                <h4>I start with facts and then form a big picture.</h4>
                <select class="form-option" id=quest_9 required>
                    <option value=""></option>
                    <option value="1">1 (Strongly Disagree)</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5 (Strongly Agree)</option>
                </select>
                <br>
                <br>

                <h3><strong>Question 10</strong></h3>
                <h4>I trust experience first and trust words and symbols less.</h4>
                <select class="form-option" id=quest_10 required>
                    <option value=""></option>
                    <option value="1">1 (Strongly Disagree)</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5 (Strongly Agree)</option>
                </select>
                <br>
                <br>

                <h3><strong>Question 11</strong></h3>
                <h4>I look for logical explanations or solutions to most everything."</h4>
                <select class="form-option" id=quest_11 required>
                    <option value=""></option>
                    <option value="1">1 (Strongly Disagree)</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5 (Strongly Agree)</option>
                </select>
                <br>
                <br>

                <h3><strong>Question 12</strong></h3>
                <h4>I make decisions with my head and want to be fair.</h4>
                <select class="form-option" id=quest_12 required>
                    <option value=""></option>
                    <option value="1">1 (Strongly Disagree)</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5 (Strongly Agree)</option>
                </select>
                <br>
                <br>

                <h3><strong>Question 13</strong></h3>
                <h4>I believe telling the truth is more important than being tactful.</h4>
                <select class="form-option" id=quest_13 required>
                    <option value=""></option>
                    <option value="1">1 (Strongly Disagree)</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5 (Strongly Agree)</option>
                </select>
                <br>
                <br>

                <h3><strong>Question 14</strong></h3>
                <h4>Sometimes I miss or don't value the "people" part of a situation.</h4>
                <select class="form-option" id=quest_14 required>
                    <option value=""></option>
                    <option value="1">1 (Strongly Disagree)</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5 (Strongly Agree)</option>
                </select>
                <br>
                <br>

                <h3><strong>Question 15</strong></h3>
                <h4>I can be seen as too task-oriented, uncaring, or indifferent.</h4>
                <select class="form-option" id=quest_15 required>
                    <option value=""></option>
                    <option value="1">1 (Strongly Disagree)</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5 (Strongly Agree)</option>
                </select>
                <br>
                <br>

                <h3><strong>Question 16</strong></h3>
                <h4>I appear to be loose and casual. I like to keep plans to a minimum.</h4>
                <select class="form-option" id=quest_16 required>
                    <option value=""></option>
                    <option value="1">1 (Strongly Disagree)</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5 (Strongly Agree)</option>
                </select>
                <br>
                <br>

                <h3><strong>Question 17</strong></h3>
                <h4>I like to approach work as play or mix work and play.</h4>
                <select class="form-option" id=quest_17 required>
                    <option value=""></option>
                    <option value="1">1 (Strongly Disagree)</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5 (Strongly Agree)</option>
                </select>
                <br>
                <br>

                <h3><strong>Question 18</strong></h3>
                <h4>I work in bursts of energy."</h4>
                <select class="form-option" id=quest_18 required>
                    <option value=""></option>
                    <option value="1">1 (Strongly Disagree)</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5 (Strongly Agree)</option>
                </select>
                <br>
                <br>

                <h3><strong>Question 19</strong></h3>
                <h4>I am stimulated by an approaching deadline.</h4>
                <select class="form-option" id=quest_19 required>
                    <option value=""></option>
                    <option value="1">1 (Strongly Disagree)</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5 (Strongly Agree)</option>
                </select>
                <br>
                <br>

                <h3><strong>Question 20</strong></h3>
                <h4>Sometimes I stay open to new information so long I miss making decisions when they are needed.</h4>
                <select class="form-option" id=quest_20 required>
                    <option value=""></option>
                    <option value="1">1 (Strongly Disagree)</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5 (Strongly Agree)</option>
                </select>
                <br>
                <br>
                <!----- Submit ----->
                <button type="submit" class="submit" class="btn btn-primary btn-lg bt-block" id="submit">Submit</button>
            </div>
        </form>
        <br>
        <hr>
    </div>

    <!---------------  Javascript ------------------------------>

    <script type="text/javascript">
        // In this code below we create the Front-end JavaScript which "POSTS" our form data to our express server.
        // In essence, when the user hits submit, jQuery grabs all of the fields then sends a post request to our api
        // Our api recognizes the route (/api/friends)... and then runs the associated code (found in apiRoutes.js).
        // In this case the associated code "saves" the data to the friends.js file

        $(".submit").on("click", function (event) {
            event.preventDefault();
            // first we validate the form to make sure all required inputs were included
            function validateForm() {
                // we initially assume the form is valid
                var isValid = true;
                // the class .form-control is assigned to the name and photo - if either is missing,
                // the form is not valid
                $(".form-control").each(function () {
                    if ($(this).val() === "") {
                        isValid = false;
                    }
                });
                // the questions have the class .form-option -- if any of these are missing
                // the form is not valid
                $(".form-option").each(function () {
                    if ($(this).val() === "") {
                        isValid = false;
                    }
                });
                // if nothing was missing, the form isValid
                return isValid;
            };

            // So, if the form is valid,
            if (validateForm()) {
                // We create an object, userData, and save the user's inputs to it
                var userData = {
                    name: $("#name").val().trim(),
                    photo: $("#photo").val().trim(),
                    scores: [
                        parseInt($("#quest_1").val()),
                        parseInt($("#quest_2").val()),
                        parseInt($("#quest_3").val()),
                        parseInt($("#quest_4").val()),
                        parseInt($("#quest_5").val()),
                        parseInt($("#quest_6").val()),
                        parseInt($("#quest_7").val()),
                        parseInt($("#quest_8").val()),
                        parseInt($("#quest_9").val()),
                        parseInt($("#quest_10").val()),
                        parseInt($("#quest_11").val()),
                        parseInt($("#quest_12").val()),
                        parseInt($("#quest_13").val()),
                        parseInt($("#quest_14").val()),
                        parseInt($("#quest_15").val()),
                        parseInt($("#quest_16").val()),
                        parseInt($("#quest_17").val()),
                        parseInt($("#quest_18").val()),
                        parseInt($("#quest_19").val()),
                        parseInt($("#quest_20").val()),
                    ]
                };
                // resets the form after submit
                $("#survey")[0].reset();
            }
        });
    </script>

</div>
